.venv/
__pycache__/
*.pyc
.env
.pytest_cache/
node_modules/
frontend/
dist/
osiris-report.md
uploads/
ChatGPT Image Jun 13, 2026, 01_57_42 PM.png
docs.md
templates.md
hero-rays.jpg.jpeg
paperplane.png
paperplane-removebg-preview.png